page-feed {

}
ion-card.enfase{
    background-color: darkred;
}
ion-item.enfase{
    background-color: darkred;
}
h1.enfase{
    font-weight: bold;
}
h2.enfase{
    font-weight: bold;
}
p.date{
    color: cornsilk;
}